  <!-- Component Header -->
  <div class="content">
    <div class="row">
      <div class="col-lg-12">
        <div class="card" >
          <div class="card-header" style="padding-top: 0%;">
            <div class="container" style="margin-top: 30px;">
              <div class="row"><h4>Clustering Predict</h4></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="currentPage == 1">
    <app-csv-selector
    [csvSelectorType]="csvSelectorType"
    [folders]="folderArray"
    (csvSelected)="getCSVName($event)"
    (folderSelected)="getFolderName($event)"
    (csvHeaders)="getHeaders($event)"
    (csvData)="getData($event)"
  ></app-csv-selector>
  </div>

  <div *ngIf="currentPage == 2">
  
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-category">Folders</h5>
        </div>
        <div class="container" *ngIf="jobs_unavailable == true">
          <div class="out">
            <div class="inner">
              Jobs not Available</div>
          </div>
        </div>
        <div class="container-fluid" *ngIf="jobs_unavailable == false">
          <div class="row">
              <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3" *ngFor="let model of models; let i = index" >
                  <div class="card"
                  (click)="selectModel(i);next()">
                      <div class="card-body" style="padding: 0%;">
                          <div class="new-arrival-product">
                              <div class="new-arrivals-img-contnent text-center">
                                  <img style="height: 50px; width: 50px;" src="https://img.icons8.com/plasticine/100/000000/combo-chart.png" alt="">
                              </div>
                              
                              <div class="new-arrival-content text-center mt-3">
                                  <h6>{{ i + 1 }}</h6>
                                  <h5>
                                    {{ model['M']['model_name']['S'] }}
                                  </h5>
                                  <h6>
                                    {{ model['M']['csv_name']['S'] }}
                                  </h6>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div *ngIf="folderArray.length == 0">
            No folders available <br />
            Please Create a folder
          </div>
        </div>
      </div>
    </div>


  </div>

  <div *ngIf="currentPage == 3">
    <div class="col-lg-12">
      <div class="card">
        <div class="row">
          <div class="col-12">
            <div style="display: block" *ngIf="graphPlots.length > 0">
              <canvas
                baseChart
                [datasets]="graphPlots"
                [options]="scatterChartOptions"
                [labels]="scatterChartLabels"
                [chartType]="scatterChartType"
                [colors]="scatterColorLabels">
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>



<div class="content">
  <div class="row">
    <div class="col-lg-12">
      <div class="card" >
        <div class="card-header" style="padding-top: 0%;">
          <div class="container" style="margin-top: 30px;">

            <!-- Page 1 -->
            <a *ngIf="currentPage == 1" class="btn btn-primary btn-block" (click)="next();getModels()">Next</a>
            
            <!-- Page 2 -->
            <div class="row" *ngIf="currentPage == 2">
              <div class="col-12">
                <a  class="btn btn-primary btn-block" (click)="previous()">Previous</a>
              </div>
              <!-- <div class="col-6">
                <a class="btn btn-primary btn-block" (click)="next()">Get Prediction</a>
              </div> -->
            </div>

            <!-- Page 3 -->
            <div class="row" *ngIf="currentPage == 3">
              <div class="col-12">
                <a  class="btn btn-primary btn-block" (click)="previous()">Previous</a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>