.active-card:hover {
    background-color: #2953e8;
    padding: 4%;
    cursor: pointer;
  }

.change_color_to_grey:hover {
    background-color: grey;
  }

  .out {
    text-align: center;
}

.inner {
    display: inline-block;
    vertical-align: middle;
}