Backend/*
pack.sh
Dashboard/package-lock.json
Dashboard/package.json
fileUploadTrigger
.vscode

getDateTrend
getCSVData
generateS3Url
xgboostPredict
executiveaiTrend
sagemakerJob
getDirectories
getModels
getKMeansClusterData
userSignup

Mongodb
node_modules
