<h3>Please select a User Policy</h3>

<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-header">
        <h5 class="card-category">Policy 1</h5>
      </div>
      <div class="container">
        <div class="col-12">
          <p>
            Build features quickly with simple, declarative templates. Extend the template language with your own components and use a wide array of existing
            components. Get immediate Angular-specific help and feedback with nearly every IDE and editor. All this comes together so you can focus on building
            amazing apps rather than trying to make the code work.
          </p>
          <a class="btn btn-primary btn-block" (click)="selectPolicy('policy1')"> Buy </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header">
        <h5 class="card-category">Policy 2</h5>
      </div>
      <div class="container">
        <div class="col-12">
          <p>
            Build features quickly with simple, declarative templates. Extend the template language with your own components and use a wide array of existing
            components. Get immediate Angular-specific help and feedback with nearly every IDE and editor. All this comes together so you can focus on building
            amazing apps rather than trying to make the code work.
          </p>
          <a class="btn btn-primary btn-block" (click)="selectPolicy('policy2')"> Buy </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header">
        <h5 class="card-category">Policy 3</h5>
      </div>
      <div class="container">
        <div class="col-12">
          <p>
            Build features quickly with simple, declarative templates. Extend the template language with your own components and use a wide array of existing
            components. Get immediate Angular-specific help and feedback with nearly every IDE and editor. All this comes together so you can focus on building
            amazing apps rather than trying to make the code work.
          </p>
          <a class="btn btn-primary btn-block" (click)="selectPolicy('policy3')"> Buy </a>
        </div>
      </div>
    </div>
  </div>
</div>
