<div class="page-title-area">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="container">
        <h2>Team</h2>
      </div>
    </div>
  </div>
  <div class="shape1"><img src="assets/img/shape1.png" alt="shape" /></div>
  <div class="shape2 rotateme">
    <img src="assets/img/shape2.svg" alt="shape" />
  </div>
  <div class="shape3"><img src="assets/img/shape3.svg" alt="shape" /></div>
  <div class="shape4"><img src="assets/img/shape4.svg" alt="shape" /></div>
  <div class="shape5"><img src="assets/img/shape5.png" alt="shape" /></div>
  <div class="shape6 rotateme">
    <img src="assets/img/shape4.svg" alt="shape" />
  </div>
  <div class="shape7"><img src="assets/img/shape4.svg" alt="shape" /></div>
  <div class="shape8 rotateme">
    <img src="assets/img/shape2.svg" alt="shape" />
  </div>
</div>

<section class="team-area ptb-80 bg-f9f6f6">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-team">
          <div class="team-image">
            <img
              src="assets/img/team-image/ilthi.jpg"
              alt="image"
            />
          </div>
          <div class="team-content">
            <div class="team-info">
              <h3>Ilthizam Imtiyas</h3>
              <span>Chief Executive Officer & Founder</span>
            </div>
            <ul>
              <li>
                <a href="#"><i data-feather="facebook"></i></a>
              </li>
              <li>
                <a href="#"><i data-feather="twitter"></i></a>
              </li>
              <li>
                <a href="#"><i data-feather="linkedin"></i></a>
              </li>
              <li>
                <a href="#"><i data-feather="gitlab"></i></a>
              </li>
            </ul>
            <p>
              A full-stack, mobile, and AI/ML developer with over 6 years of experience as an Executive of several fast-growing SaaS companies
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-team">
          <div class="team-image">
            <img src="assets/img/team-image/bandula.png" alt="image" />
          </div>
          <div class="team-content">
            <div class="team-info">
              <h3>Bandula Manage</h3>
              <span>Chief Customer Officer - UK </span>
            </div>
            <ul>
              <li>
                <a href="#"><i data-feather="facebook"></i></a>
              </li>
              <li>
                <a href="#"><i data-feather="twitter"></i></a>
              </li>
              <li>
                <a href="#"><i data-feather="linkedin"></i></a>
              </li>
              <li>
                <a href="#"><i data-feather="gitlab"></i></a>
              </li>
            </ul>
            <p>
              More than 25 years of track record in consulting high growth
              companies around the world
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-team">
          <div class="team-image">
            <img src="assets/img/team-image/anton.jpeg" alt="image" />
          </div>
          <div class="team-content">
            <div class="team-info">
              <h3>Anton Hörnquist</h3>
              <span>Chief Customer Officer - Sweden</span>
            </div>
            <ul>
              <li>
                <a href="#"><i data-feather="facebook"></i></a>
              </li>
              <li>
                <a href="#"><i data-feather="twitter"></i></a>
              </li>
              <li>
                <a href="#"><i data-feather="linkedin"></i></a>
              </li>
              <li>
                <a href="#"><i data-feather="gitlab"></i></a>
              </li>
            </ul>
            <p>
              Long-standing experience in executing global customer success and engagement

            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-team">
          <div class="team-image">
            <img src="assets/img/team-image/hiran.jpeg" alt="image" />
          </div>
          <div class="team-content">
            <div class="team-info">
              <h3>Hiran Lakshika</h3>

              <span>Chief Operating Officer</span>
            </div>
            <ul>
              <li>
                <a href="#"><i data-feather="facebook"></i></a>
              </li>
              <li>
                <a href="#"><i data-feather="twitter"></i></a>
              </li>
              <li>
                <a href="#"><i data-feather="linkedin"></i></a>
              </li>
              <li>
                <a href="#"><i data-feather="gitlab"></i></a>
              </li>
            </ul>
            <p>
              Eight years of knowledge and expertise in driving sustainable growth of the company

            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-team">
          <div class="team-image">
            <img src="assets/img/team-image/kiru.jpeg" alt="image" />
          </div>
          <div class="team-content">
            <div class="team-info">
              <h3>Kiruthiharan Baskar</h3>
              <span>Chief Technology Officer</span>
            </div>
            <ul>
              <li>
                <a href="#"><i data-feather="facebook"></i></a>
              </li>
              <li>
                <a href="#"><i data-feather="twitter"></i></a>
              </li>
              <li>
                <a href="#"><i data-feather="linkedin"></i></a>
              </li>
              <li>
                <a href="#"><i data-feather="gitlab"></i></a>
              </li>
            </ul>
            <p>
              An AI and Full-stack developer with an outstanding reputation in designing and building innovative products for over five years

            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-team">
          <div class="team-image">
            <img src="assets/img/team-image/bena.jpeg" alt="image" />
          </div>
          <div class="team-content">
            <div class="team-info">
              <h3>Benura Abeywardana</h3>
              <span>Head of Products</span>
            </div>
            <ul>
              <li>
                <a href="#"><i data-feather="facebook"></i></a>
              </li>
              <li>
                <a href="#"><i data-feather="twitter"></i></a>
              </li>
              <li>
                <a href="#"><i data-feather="linkedin"></i></a>
              </li>
              <li>
                <a href="#"><i data-feather="gitlab"></i></a>
              </li>
            </ul>
            <p>
              Expertise in Cloud development and more than five years of extensive product management experience in the IT industry.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-team">
          <div class="team-image">
            <img src="assets/img/team-image/mihiru.jpeg" alt="image" />
          </div>
          <div class="team-content">
            <div class="team-info">
              <h3>Mihiru Kongahage</h3>
              <span>Head of Strategy </span>
            </div>
            <ul>
              <li>
                <a href="#"><i data-feather="facebook"></i></a>
              </li>
              <li>
                <a href="#"><i data-feather="twitter"></i></a>
              </li>
              <li>
                <a href="#"><i data-feather="linkedin"></i></a>
              </li>
              <li>
                <a href="#"><i data-feather="gitlab"></i></a>
              </li>
            </ul>
            <p>
              Full-stack and Mobile developer with an exceptional record of having led several strategic initiatives aiding sustained growth for the last five years.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-team">
          <div class="team-image">
            <img
              src="assets/img/team-image/pramodya.jpeg"
              alt="image"
            />
          </div>
          <div class="team-content">
            <div class="team-info">
              <h3>Pramodya Pathirana</h3>
              <span>Company Secretary</span>
            </div>
            <ul>
              <li>
                <a href="#"><i data-feather="facebook"></i></a>
              </li>
              <li>
                <a href="#"><i data-feather="twitter"></i></a>
              </li>
              <li>
                <a href="#"><i data-feather="linkedin"></i></a>
              </li>
              <li>
                <a href="#"><i data-feather="gitlab"></i></a>
              </li>
            </ul>
            <p>
              With over 3 years of experience in the IT sector while providing legal support to businesses.

            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-team">
          <div class="team-image">
            <img
              src="assets/img/team-image/azma.jpeg"
              alt="image"
            />
          </div>
          <div class="team-content">
            <div class="team-info">
              <h3>Azma Imtiaz</h3>
              <span>Head of Business Development</span>
            </div>
            <ul>
              <li>
                <a href="#"><i data-feather="facebook"></i></a>
              </li>
              <li>
                <a href="#"><i data-feather="twitter"></i></a>
              </li>
              <li>
                <a href="#"><i data-feather="linkedin"></i></a>
              </li>
              <li>
                <a href="#"><i data-feather="gitlab"></i></a>
              </li>
            </ul>
            <p>
              Profound knowledge in business intelligence and marketing software
              services to businesses
            </p>
          </div>
        </div>
      </div>

      <!--<div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-team">
          <div class="team-image">
            <img src="assets/img/team-image/2.jpg" alt="image" />
          </div>
          <div class="team-content">
            <div class="team-info">
              <h3>Alex Maxwel</h3>
              <span>Marketing Manager</span>
            </div>
            <ul>
              <li>
                <a href="#"><i data-feather="facebook"></i></a>
              </li>
              <li>
                <a href="#"><i data-feather="twitter"></i></a>
              </li>
              <li>
                <a href="#"><i data-feather="linkedin"></i></a>
              </li>
              <li>
                <a href="#"><i data-feather="gitlab"></i></a>
              </li>
            </ul>
            <p>
              Risus commodo viverra maecenas accumsan lacus vel facilisis quis
              ipsum.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-team">
          <div class="team-image">
            <img src="assets/img/team-image/3.jpg" alt="image" />
          </div>
          <div class="team-content">
            <div class="team-info">
              <h3>Janny Cotller</h3>
              <span>Web Developer</span>
            </div>
            <ul>
              <li>
                <a href="#"><i data-feather="facebook"></i></a>
              </li>
              <li>
                <a href="#"><i data-feather="twitter"></i></a>
              </li>
              <li>
                <a href="#"><i data-feather="linkedin"></i></a>
              </li>
              <li>
                <a href="#"><i data-feather="gitlab"></i></a>
              </li>
            </ul>
            <p>
              Risus commodo viverra maecenas accumsan lacus vel facilisis quis
              ipsum.
            </p>
          </div>
        </div>
      </div>
      
      -->
    </div>
  </div>
</section>
